apiVersion: v1
kind: Secret
metadata:
  name: gateway-private-key
type: Opaque
data:
  key: "{{ PRIVATE_KEY }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: gateway-authorized-keys
type: Opaque
data:
  keys: "{{ AUTHORIZED_KEYS }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: reverse-ssh
spec:
  selector:
    matchLabels:
      app: gateway-private-key
  template:
    metadata:
      labels:
        app: gateway-private-key
    spec:
      containers:
      - image: tkilias/kubernetes-reverse-ssh-tunnel
        imagePullPolicy: Always
        name: reverse-ssh
        env:
        - name: PUBLIC_HOST_ADDR
          value: "{{ PUBLIC_HOST_ADDR }}"
        - name: PUBLIC_HOST_PORT
          value: "{{ PUBLIC_HOST_PORT | default('22') }}"
        - name: PUBLIC_HOST_USER
          value: "{{ PUBLIC_HOST_USER | default('root') }}"
        - name: PROXY_PORT
          value: "{{ PROXY_PORT | default('2222') }}"
        - name: DESTINATION_PORT
          value: "{{ DESTINATION_PORT | default('22') }}"
        - name: AUTO_SSH
          value: "{{ AUTO_SSH | default('yes') }}"
        volumeMounts:
        - name: gateway-private-key
          mountPath: "/root/private_key"
          readOnly: true
        - name: gateway-authorized-keys
          mountPath: "/root/authorized_keys"
          readOnly: true
      volumes:
      - name: gateway-private-key
        secret:
          secretName: gateway-private-key
          defaultMode: 256
      - name: gateway-authorized-keys 
        secret:
          secretName: gateway-authorized-keys
          defaultMode: 256

        
